/* Vereinfachung für Skalierung der Elemente */
* {
    box-sizing: border-box;
}

/* Vermeidung der Wiederholung des Farbverlaufs in immer wiederkehrenden Blöcken */
html {
    min-height: 100vh;
}

/* Farbverlauf von "hesso-blau" zu weiss (margin = 0, dass es über die ganze Seite geht) */
body {
    margin: 0;
    background: radial-gradient(#FFFFFF, #0078B4);
}

/* Style für Titel */
.page-title {
    color: white;
    font-family: "Gill Sans MT", Serif;
    text-align: center;
    font-size: 3em;
}

/* Anordnung von Timer & Anzahl Flips in einer Reihe */
.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

/* Style für Timer und Anzahl Flips */
.game-info {
    color: white;
    font-family: "Gill Sans MT", Serif;
    font-weight: bold;
    font-size: 2em;
}

/* Layout für Bereich der Karten */
.game-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    justify-content: center;
    perspective: 500px;
}

/* Style für Karte Allgemein */
.card {
    position: relative;
    background-color: white;
    border-style: double;
    border-color: #0078B4;
    border-width: 7px;
    height: 175px;
    width: 140px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

/* Karte Vorderseite */
.card-front {
    transform: rotateY(180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-front:hover .card-value {
    transform: scale(1);
}

/* Position und Animation Icon (Vorderseite) */
.card-value {
    position: relative;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

/* Karte Rückseite */
.card-back {
    transform: rotateY(0);
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card-back:hover .hesso {
    transform: translateY(0);
}

/* Position und Animation Icon (Rückseite)) */
.hesso {
    align-self: center;
    transition: transform 100ms ease-in-out;
    transform: translateY(-10px);
}

/* Treffer */
.card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

/* Layout & Style für Titel der Zwischenfenster (Start, Sieg und Niederlage) */
.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    font-family: Gill Sans MT, serif;
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

/* Animation Treffer */
@keyframes dance {
    0%, 100% {
        transform: rotate(0)
    }
    25% {
        transform: rotate(-30deg)
    }
    75% {
        transform: rotate(30deg)
    }
}

/* Animation Startfenster */
@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

/* Responsive -> falls Fenster kleiner als 600px nur noch zwei Kolonnen & Gameinfo übereinander */
@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto)
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}